alembic
blinker
click
flask
Flask-Login
Flask-Migrate
flask-sqlalchemy
greenlet
importlib-metadata
importlib-resources
itsdangerous
jinja2
Mako
MarkupSafe
mysql-connector-python
python-dotenv
SQLAlchemy
typing-extensions
werkzeug
zipp
