{% extends "base.html" %}

{% block title %}Создать пользователя{% endblock %}

{% block content %}
<h1>Создать пользователя</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.first_name.label(class="form-label") }}
        {{ form.first_name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.last_name.label(class="form-label") }}
        {{ form.last_name(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.role_id.label(class="form-label") }}
        {{ form.role_id(class="form-select") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}